@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  --color-indigo-600: #4F46E5;
  --color-slate-50: #F8FAFC;
  --color-slate-900: #0F172A;
  --color-slate-400: #94A3B8;
  --color-green-500: #22C55E;

  --radius-2rem: 2rem;
  --radius-2-5rem: 2.5rem;
  --radius-3rem: 3rem;
}



body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
  background-color: var(--color-slate-50);
  min-height: 100vh;
}